@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	/* font-family: 'Montserrat', sans-serif; */
	/* font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif */
	font-family:Arial, Helvetica, sans-serif;
}
.container {
	width: 100%;
	/* height: 100%; */
}

image{
	height: 20px;
	width: 20px;
}
.header {
    background-color:rgb(152, 220, 247);
    padding: 15px;
    text-align: center;
    font-size: 35px;
  }

.footer{
    background-color:rgb(152, 220, 247);
    padding: 15px;
	position: static;
    /* text-align: left; */
    /* font-size: 15px; */
	margin-bottom: 40px;
	/* margin-top: 20px; */
  }
nav {
	position: fixed;
	display: flex;
	align-items: flex-start;
	width: 20%;
	height: 100%;
	background-color: rgb(152, 220, 247);
    border-right: 2px solid black;
}

main {
	position: fixed;
	right: 0;
	width: 80%;
	height: 100%;
	background-color: #fff;
	overflow: auto;
	padding: 40px;
}

h1 h2{
	font-weight: bold;

}
h1 {
	margin-bottom: 50px;
	font-size: 55px;
	text-align: center;
}
h2{
	margin-bottom: 25px;
	font-size: 25px;
	text-align: left;

}
p {
	margin-bottom: 20px;
	line-height: 26px;
}
/* p::first-letter {
	font-size: 200%;
	font-weight: bold;
} */
.menu li, ul label.title, ul, a {
	width: 100%;
	color: #FFF;
	font-family: 'Montserrat', 'Open Sans', sans-serif;
	display: block;
	font-weight: bold;
}
.menu ul label {
	height: 35px;
}
.menu ul li{
	height: 35px;
	overflow: hidden;
	transition: all .3s;
}

.menu li {
	display: block;
	background-color: rgb(26, 90, 116);
}

.entry ul{
	list-style-image: initial;
	list-style-position:outside;
	padding-left: 50px;
	/* background: #dd6363; */
	margin:15px;
}
.entry ol{
	padding-left: 50px;
	/* background: #dd6363; */
	margin:15px;
	/* margin: 150px; */


}
.entry li {
	width:auto;
	display:list-item;
	color:black;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:initial;
	padding:5px;

}

table{
	position:relative;
	border-collapse:collapse;
	margin: 5px;
	font-size:13px;
}
td, th {
	border: 1px solid black;
	width: fit-content;
	padding:2px;
}
th{
	background-color:rgb(152, 220, 247);

}
tr:nth-child(even) {background-color: #f2f2f2;}
footer, p{
	font-size:smaller;
	padding:1px;
	margin:1px;
}
.code{
	/* border-radius: 10px; */
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.command{
	/* border-radius: 10px; */
	border-radius: 10px;
}

p.code, p.command{
	font-size: 15px;
	font-style: italic;
	width:95%;
	margin-left:25px;
	margin-right: 25px;
	margin-bottom: 0px;
	color:white;
	background-color:black;
	padding: 5px;
	padding-left: 40px;

}

.console, .file{
	background-color: rgb(204, 200, 163);
	color: black;
	margin-left:25px;
	margin-right: 25px;
	margin-left:25px;
	margin-right:25px;
	width:95%;
	padding: 5px;
	padding-left: 40px;

}
.console{
	border-radius:10px;

	/* padding: 20px;*/
}

.file{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	/* width: 100%; */
}

.menu label.title {
	font-size: 14px;
	background: linear-gradient(#111, #2f2f2f);
	padding: 10px 15px;
	cursor: pointer;
	transition: all .25s;
}

.menu a{
	font-size: 12px;
	text-decoration:none;
	color: #FFF;
	display: block;
	padding: 10px 25px;
	transition: all .25s;

}
.menu a:hover {
	background-color: #444;
  	box-shadow: inset 5px 0px 0px 0px #fff;
	text-decoration: unset;
}


a{
	font-size:unset;
	text-decoration:none;
	padding: 10px 25px;
	background-color:unset;
	color: blue;
	display:unset;
	padding: unset;
	margin: unset;
	font-family: unset;
	font-weight: unset;
}
a:hover{
	background-color:white;
  	box-shadow: inset 5px 0px 0px 0px #fff;
	text-decoration:underline;

}

label:hover {
	text-shadow: 0px 0px 10px #fff;
}
input[type="radio"] {
	display: none;
}
#virtualbox:checked + li, #freeIPA:checked + li, #tools:checked + li, #preferences:checked + li, #notes:checked + li {
	height: 205px;
}
.post{
	border-bottom-style: solid;
	border-collapse: collapse;
	padding:30px;
	padding-bottom: 50px;
}
.post .date {
	margin-top: -34px;
	text-align: right;
}
.post .title {
	border-bottom: 1px dotted #FFFFFF;
}

.tip{
	background-color: rgb(247, 188, 88);
	margin:10px;
}
img{
	width: 50%;
	margin-left: 100;;
	/* position:initial; */
}

i {
	margin-right: 12px;
}
@media screen and (max-width: 600px){
	nav {
		width: 100%;
		position: relative;
	}
	main {
		width: 100%;
		position: relative;
	}
}